name: SM-A022F-OFOX 

on: workflow_dispatch

env:
  TZ: Asia/Jakarta

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       
      - name: Checkout
        uses: actions/checkout@master
       
      - name: Initializing environment
        run: |
            git config --global user.name "a02-trial"
            git config --global user.email "cipin23@gmail.com"
        
      - name: Mkaing Dir Repo and setting up Environment
        run: |
            bash
            cd 
            mkdir bin
            cd bin
            curl http://commondatastorage.googleapis.com/git-repo-downloads/repo > ~/bin/repo 
            chmod a+x ~/bin/repo
            cd
            cd bin
            git clone https://github.com/akhilnarang/scripts.git scripts
            cd
            bash bin/scripts/setup/android_build_env.sh
            bash bin/scripts/setup/install_android_sdk.sh
   
      - name: Sync recovery source and device tree
        run: |
            cd
            mkdir OrangeFox
            cd OrangeFox
            repo init -u https://gitlab.com/OrangeFox/Manifest.git -b fox_12.1 --depth=1
            repo sync -j8 --force-sync --optimized-fetch --no-clone-bundle
            cd
            cd OrangeFox
            git clone https://github.com/rdbckp/twrp_kernel_tree.git device/samsung/a02
            
      - name: Now Lets build Ofox
        run: |
            cd
            cd OrangeFox
            source build/envsetup.sh
            export ALLOW_MISSING_DEPENDENCIES=true
            export FOX_DRASTIC_SIZE_REDUCTION=true
            export OF_USE_LZMA_COMPRESSION=true
            export FOX_DELETE_AROMAFM=true
            export FOX_USE_TWRP_RECOVERY_IMAGE_BUILDER=1
            export LC_ALL="C"
            export OF_MAINTAINER="SM-A022F"
            export FOX_VERSION="Unofficial"
            lunch twrp_a02-eng
            mka recoveryimage
      
      - name: Uploading using Bash Upload
        run: |
            cd
            mv OrangeFox/out/target/product/a02/OrangeFox-Unofficial-a02.img ~
            mv OrangeFox/out/target/product/a02/OrangeFox-Unofficial-a02.zip ~
            curl https://bashupload.com/Ofox-Unofficial_JS.zip --data-binary @OrangeFox-Unofficial-a02.zip
            curl https://bashupload.com/Ofox-Unofficial_JS.img --data-binary @OrangeFox-Unofficial-a02.img
            
